<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>港TVB HD1</string>
			<key>live</key>
			<string>http://wslive-o-hdl.kascend.com/chushou_live/635e368b56234584bc64ff8422f443c6.flv</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>港TVB HD2</string>
			<key>live</key>
			<string>http://m.567it.com/jade.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>港TVB 無線新聞臺HD</string>
			<key>live</key>
			<string>rtmp://192.187.101.234/live//live06</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>港星空卫视1</string>
			<key>live</key>
			<string>rtmp://58.200.131.2:1935/livetv/startv</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>伊朗BBC</string>
			<key>live</key>
			<string>http://bbcwshdlive01-lh.akamaihd.net/i/ptv_1@78015/master.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CCTV1</string>
			<key>live</key>
			<string>http://ivi.bupt.edu.cn/hls/cctv1hd.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CCTV2</string>
			<key>live</key>
			<string>http://ivi.bupt.edu.cn/hls/cctv2.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CCTV3</string>
			<key>live</key>
			<string>http://ivi.bupt.edu.cn/hls/cctv3.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CCTV4</string>
			<key>live</key>
			<string>http://ivi.bupt.edu.cn/hls/cctv4.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CCTV5</string>
			<key>live</key>
			<string>http://223.110.242.130:6610/cntv/live1/cctv-5/cctv-5</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CCTV6</string>
			<key>live</key>
			<string>http://ivi.bupt.edu.cn/hls/cctv6hd.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CIBN 电影</string>
			<key>live</key>
			<string>http://gs.moli.ds.lunbocl.ott.CIBNtv.net/hls/vCIBNDYPD/1800/vCIBNDYPD.m3u8?md5=c246ac4e6b6cb88b7f970b530ff04b86</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CIBN 动作影院</string>
			<key>live</key>
			<string>http://dangbei.ds01.cibn.cc/hls/vCIBNDZYY/1800/vCIBNDZYY.m3u8?md5=b778284c6b5f9fb6f65dfe26a7f3c3ed</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>CIBN 院线大片</string>
			<key>live</key>
			<string>http://dangbei.ds01.cibn.cc/hls/vCIBNHYPD/1800/vCIBNHYPD.m3u8?md5=b778284c6b5f9fb6f65dfe26a7f3c3ed</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>猫和老鼠</string>
			<key>live</key>
			<string>https://aldirect.hls.huya.com/huyalive/94525224-2475824398-10633584820048887808-2847687532-10057-A-0-1_1200.m3u8</string>
		</dict>
		<dict>
			<key>tvg_logo</key>
			<string>https://upload.wikimedia.org/wikipedia/zh/0/0d/TVB_logo.png</string>
			<key>group_title</key>
			<string>美国中文卫视</string>
			<key>live</key>
			<string>http://media3.sinovision.net:1935/live/livestream/playlist.m3u8</string>
		</dict>
	</array>
</dict>
</plist>
